@font-face {
  font-family: "iconfont"; /* Project id 4293084 */
  src: url('iconfont.woff2?t=1700882195654') format('woff2'),
       url('iconfont.woff?t=1700882195654') format('woff'),
       url('iconfont.ttf?t=1700882195654') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jingqingqueren:before {
  content: "\e65a";
}

.icon-jingqingzhuanpai:before {
  content: "\e65b";
}

.icon-dispatchIdRejected:before {
  content: "\e651";
}

.icon-dispatchReviewed:before {
  content: "\e652";
}

.icon-policeDispatched:before {
  content: "\e653";
}

.icon-policeRejected:before {
  content: "\e654";
}

.icon-dispatchAmend:before {
  content: "\e655";
}

.icon-fireReviewed:before {
  content: "\e656";
}

.icon-fireReject:before {
  content: "\e657";
}

.icon-policeAmend:before {
  content: "\e658";
}

.icon-fireAmend:before {
  content: "\e659";
}

.icon-fireFilled:before {
  content: "\e64c";
}

.icon-dispatchFilled:before {
  content: "\e64d";
}

.icon-policeInvalid:before {
  content: "\e64e";
}

.icon-policeConfirmed:before {
  content: "\e64f";
}

.icon-policeDispatchArea:before {
  content: "\e650";
}

.icon-huozaichaoshitongji:before {
  content: "\e635";
}

.icon-chudongshenhe:before {
  content: "\e63a";
}

.icon-chudongxiugai:before {
  content: "\e63b";
}

.icon-huozaizhiliangjiandu:before {
  content: "\e63c";
}

.icon-jingqingluru:before {
  content: "\e63d";
}

.icon-weitianbaoduizhantongji:before {
  content: "\e63e";
}

.icon-jingqinggengzhengshenpi:before {
  content: "\e63f";
}

.icon-jingqingxiugai:before {
  content: "\e640";
}

.icon-chudongzhiliangjiandu:before {
  content: "\e641";
}

.icon-jingqingguanli:before {
  content: "\e642";
}

.icon-chudonggengzhengshenpi:before {
  content: "\e643";
}

.icon-jingqingzuofeishenpi:before {
  content: "\e644";
}

.icon-jingqingchaoshitongji:before {
  content: "\e645";
}

.icon-huozaishenhe:before {
  content: "\e646";
}

.icon-shenqingjilu:before {
  content: "\e647";
}

.icon-huozaiguanli:before {
  content: "\e648";
}

.icon-huozaixiugai:before {
  content: "\e649";
}

.icon-huozaitianbao:before {
  content: "\e64a";
}

.icon-huozaigengzhengshenpi:before {
  content: "\e64b";
}

.icon-jingqingzhiliangjiandu:before {
  content: "\e636";
}

.icon-chudongguanli:before {
  content: "\e637";
}

.icon-chudongtianbao:before {
  content: "\e638";
}

.icon-chudongchaoshitongji:before {
  content: "\e639";
}

