$state-wait: #f2b34c; // 待填报
$state-finish: #34c38f; // 已审核
$state-reject: #ff4d16; // 被驳回
$state-disable: gray; // 不能修改

.state-wait {
  color: $state-wait !important;
}

.state-finish {
  color: $state-finish !important;
}

.state-reject {
  color: $state-reject !important;
}

.state-important {
  color: $state-reject;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 4px;
  border: solid 1px $state-reject;
}

.state-middle {
  color: $state-wait;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 4px;
  border: solid 1px $state-wait;
}

.state-common {
  color: $state-finish;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 4px;
  border: solid 1px $state-finish;
}

.state-other {
  color: $state-disable;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 4px;
  border: solid 1px $state-disable;
}

.no-data {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field-radio {
  .van-cell__title {
    margin-left: 12px !important;
  }
  .van-cell__value {
    .van-radio[aria-checked=false] {
      padding: 1px 5px;
      border: 1px dashed #d9d9d9;
      border-radius: 2px;
    }
    .van-radio[aria-checked=true] {
      padding: 1px 5px;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
    }
  }
}
.field-radio {
  .van-cell__title {
    margin-left: 12px !important;
  }
  .van-cell__value {
    .van-radio[aria-checked=false] {
      padding: 1px 5px;
      border: 1px dashed #d9d9d9;
      border-radius: 2px;
    }
    .van-radio[aria-checked=true] {
      padding: 1px 5px;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
    }
  }
}

.field-radio::before {
  left: 20px !important;
}

.form-textarea {
  flex-direction: column;
  .van-field__body {
    border: 1px solid #f6f6f6;
    padding: 5px 5px;
    margin-top: 5px;
  }
}

.state-wait-text {
  color: #F2B34C;
}

.state-finish-text {
  color: #34C38F;
}

.state-reject-text {
  color: #FF4D16;
}

@keyframes timeout-text {
  0% {
    text-shadow: 0px 0px 0px rgba(230, 41, 41, 0.4);
  }

  50% {
    text-shadow: 0px 0px 4px rgba(230, 41, 41, 0.6);
  }

  100% {
    text-shadow: 0px 0px 8px rgba(230, 41, 41, 0.8);
  }
}

.test-timeout {
  color: red;
  animation: timeout-text 3s infinite;
}

.pro-list-item {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  margin-top: 10px;
  .item-header {
    display: flex;
    padding: 8px 10px;
    .item-title {
      width: 260px;
      font-size: 16px;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .item-state {
      width: 57px;
      height: 24px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      margin-left: auto;
    }
  }
  .item-field {
    font-size: 14px;
    color: #1f1f1f;
    display: flex;
    align-items: center;
    padding: 0 0 8px 10px;
    .flex{
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 20px;
      .info{
        margin-right: 50px;
      }
    }
    img {
      width: 14px;
      height: 14px;
      margin-right: 6px;
    }
  }
  .item-type {
    margin: 0 0 8px 10px;
    span {
      display: inline-block;
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #fc2902;
      background: #ffefec;
      border-radius: 2px;
      padding: 4px 10px;
    }
  }
  .item-line {
    width: 100%;
    border-top: 1px solid rgba(31, 31, 31, 0.15);
  }
  .item-operate {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 10px;
    .item-collect {
      font-size: 20px;
      margin-right: auto;
    }
    .item-btn {
      padding: 0 16px;
      margin-left: 10px;
      :deep(.van-button__content) {
        height: 18px;
      }
      :deep(.van-button__text) {
        white-space: nowrap;
        word-break: break-all;
      }
    }
  }
  .card-img {
    padding: 0 10px;
    img {
      width: 100%;
      height: 100px;
      object-fit: contain;
    }
  }
}

.text-nowrap {
  white-space: nowrap;
}

.fire-level-item {
  .van-field__right-icon {
    pointer-events: all;
  }
}

.van-dialog__message {
  text-align: left;
}
