.min-title{
  font-size: 16px;
  font-family: PingFang-SC-Heavy, PingFang-SC;
  font-weight: 800;
  color: #0E203C;
}

.dot{
  position: relative;
  ::before{
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #FF3131;
    position: absolute;
    // right: 0;
    // top: 0;
    // transform: translate(-50%,-50%);
  }
}

.dialog—info{
  .van-dialog__header{
    padding-top: 13px !important;
  }
}


.rootform1 > div{
  &::after{
    // z-index: 1;
    // position: absolute;
    // box-sizing: border-box;
    content: " ";
    pointer-events: none;
    right: var(--van-padding-md);
    bottom: 0;
    left: var(--van-padding-md);
    border-bottom: 0.02667rem solid var(--van-cell-border-color);
    width: calc(100% - 64px);
    display: block;
    padding: 0 20px;
    margin-left: 8px;
    // transform: scaleY(.5);
  }
}
.rootform1 > div:has(>div){
  &::after{
    border: none !important;
  }

}

.rootform1 >div> div{
  &::after{
    // z-index: 1;
    // position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    right: var(--van-padding-md);
    bottom: 0;
    left: var(--van-padding-md);
    border-bottom: 0.02667rem solid var(--van-cell-border-color);
    width: calc(100% - 32px);
    display: block;
    padding: 0 20px;
    margin-left: 8px;
    // transform: scaleY(.5);
  }
}

.p_e_n{
  pointer-events: none;
}
.van-field--disabled{
  .label{
    color: #323233 !important;
  }
}

.van-field__label--required:has(.field-annotation) {
  // display: flex !important;
}
